body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
#centrado{
    text-align: center;

}
table{
    margin: auto;
}
img{
    margin: auto;
    display: block;
}